*{
    padding:0;
    margin: 0;
}
.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
}

.absolute-rb{
    right: 0;
    bottom: 0;
}

.absolute-lt{
    left: 0;
    top: 0;
}

img{
    vertical-align: top;
}

