$main-color:#00ADFF;
$yellow-color: #FFE200;
$btn-shadow-color: #7E7E7E;
$main-text-color: #707070;
$title-text-color: #6B6B6B;

// .v-application p{
//     word-wrap: break-word;
//     word-break: break-all;
// }
.square-box{
    border: solid 1px $title-text-color;
}
.talk{
    border:solid 3px $title-text-color;
    padding: 20px;
    border-radius: 20px;
}
.main-text-color{
    color: $main-text-color;
}
.theme--light.v-btn.main-text-color{
    color: $main-text-color;
}
.title-text-color{
    color: $title-text-color;
}
.main-color{
    color: $main-color;    
}
.main-color-bg{
    background-color: $main-color;
}
#first-view-content{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template:
        "... ... ..." 1fr
        "... fvc-text ..." 1fr
        "... ... ..." 10%
        / 60% 35% 5%;
}

#first-view-content-text{
    grid-area: fvc-text;
    position: relative;
}
#first-view-content-text-inner{
    position: absolute;
    bottom: 0;
    right: 0;
}

.blue-sub-title{
    text-underline-position: under;
    text-decoration: underline;
    color: $main-color;
}
.yellow-sub-title{
    text-underline-position: under;
    text-decoration: underline;
    color: $yellow-color;
}

.border-h2{
    border-bottom: solid 2px $main-color;
    padding-bottom: 10px;
}

.main-under-line{
    border-bottom: solid 2px $main-color;
}

.sub-under-line{
    padding-bottom: 6px;
    border-bottom: solid 2px $title-text-color;
}

.blog-post{
    border: solid 1px $title-text-color;
    border-radius: 18px;
}
.sidebar-post{
    margin-top: 18px;
    border: solid 1px $title-text-color;
}
.blog .sidebar-post p{
    margin-top: 0px;
    text-align: left;
}
.side-bar .sidebar-post p{
    margin-top: 0px;
    text-align: left;
    color: $main-text-color;
}
.blog{
    margin-top:100px;
}
.blog img{
    width: 100%;
    max-width: 100%;
}
.blog h2{
    background-color: $main-color;
    text-align: left;
    border-left: solid 12px $yellow-color;
    padding-left: 8px;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 36px;
}
.blog h2.dence{
    background-color: $main-color;
    text-align: left;
    border-left: solid 12px $yellow-color;
    padding-left: 8px;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 36px;
}

.side-bar h2{
    background-color: $main-color;
    text-align: left;
    border-left: solid 12px $yellow-color;
    padding-left: 8px;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 36px;
}

.blog p{
    margin-top: 24px;
    color: $main-text-color;
}
.blog h3{
    text-align: left;
    color: $title-text-color;
    padding-top: 8px;
    padding-bottom: 4px;
    margin-top: 24px;
    font-size: 1.3rem;
    border-bottom: solid 2px $title-text-color;
}

.active {
    border: 9px solid #00cc00;
}

.inactive {
    border: 0px none;
}

.border {
    border: 2px dashed #00ADFF;
}

.active-hover {
    cursor:pointer;
}

.youtube {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}
.youtube iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
}
.dictionary{
    // background-color: lightgray;
    border: solid 2px $main-text-color;
    border-radius: 10px;
}
.dictionary > ul{
    // list-style: none;
}
.dictionary > ul > a{
    // text-decoration: underline;
}