$main-color:#00ADFF;
$yellow-color: #FFE200;
$btn-shadow-color: #7E7E7E;
$main-text-color: #707070;
$title-text-color: #6B6B6B;

.main-text-color{
    color: $main-text-color;
}
.title-text-color{
    color: $title-text-color;
}
.main-color{
    color: $main-color;    
}
.main-color-bg{
    background-color: $main-color;
}
#first-view-content{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template:
        "... ... ..." 1fr
        "... fvc-text ..." 1fr
        "... ... ..." 10%
        / 60% 35% 5%;
}

#first-view-content-text{
    grid-area: fvc-text;
    position: relative;
}
#first-view-content-text-inner{
    position: absolute;
    bottom: 0;
    right: 0;
}

.blue-sub-title{
    text-underline-position: under;
    text-decoration: underline;
    color: $main-color;
}
.yellow-sub-title{
    text-underline-position: under;
    text-decoration: underline;
    color: $yellow-color;
}